@import "../../App.scss";

.hero {
  height: 100%;
  background: linear-gradient(180deg, rgb(12, 12, 29), rgb(17, 17, 50));
  position: relative;
}

.wrapper {
  height: 100%;

  .text-container {
    height: 100%;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    @include tablet {
      max-width: 100%;
      align-items: center;
      text-align: center;
    }

    @include mobile {
      max-width: 100%;
      align-items: center;
      text-align: center;
    }

    h2 {
      font-size: 30px;
      color: rebeccapurple;
      letter-spacing: 10px;
      margin: 0;

      @include mobile {
        font-size: 20px;
      }
    }

    h1 {
      font-size: 75px;
      margin: 0;

      @include tablet {
        font-size: 65px;
      }

      @include mobile {
        font-size: 40px;
      }
    }
  }

  .buttons {
    z-index: 10;
    button {
      padding: 10px;
      font-weight: 550;
      border-radius: 10px;
      margin-right: 20px;
      font-size: 15px;
      cursor: pointer;
      
      @include mobile {
        font-size: 12px;
      }
    }

    .primary {
      background-color: orange;
      color: rgb(17, 17, 50);
      border: none;
    }

    .secondary {
      border: 0.5px solid white;
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  img {
    width: 40px;
  }
}

.sliding-text-container {
  position: absolute;
  font-size: 50vh;
  bottom: -90px;
  white-space: nowrap;
  color: rgb(255, 255, 255, 0.09);
  width: 50%;
  font-weight: bold;

  @include mobile {
    bottom: -130px;
  }
}
