.hero {
  height: 100%;
  background: linear-gradient(180deg, rgb(12, 12, 29), rgb(17, 17, 50));
  position: relative;
}

.wrapper {
  max-width: 1366px;
  height: 100%;

  .text-container {
    height: 100%;
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  h2 {
    font-size: 30px;
    color: rebeccapurple;
    letter-spacing: 10px;
    margin: 0;
  }

  h1 {
    font-size: 75px;
    margin: 0;
  }

  .buttons {
    z-index: 10;
    button {
      padding: 10px;
      font-weight: 550;
      border-radius: 10px;
      margin-right: 20px;
      font-size: 15px;
      cursor: pointer;
    }
    
    .primary {
      background-color: orange;
      color: rgb(17, 17, 50);
      border: none;
    }

    .secondary {
      border: 0.5px solid white;
      color: white;
      background-color: rgba(255,255,255,0.2);
    }
  }

  img {
    width: 40px;
  }
}

.sliding-text-container {
  position: absolute;
  font-size: 50vh;
  bottom: -90px;
  white-space: nowrap;
  color: rgb(255, 255, 255, 0.09);
  width: 50%;
  font-weight: bold;
}
