.top-bar {
  position: fixed;
  top: 0;
  background-color: rgba(250, 250, 250, 0.8);
  padding-left: 10px;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}

.top-bar-text {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 20px;
  color: #030c1a;
}
