@import "../../App.scss";

.portfolio {
  position: relative;
  max-width: 90%;
  margin: auto;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 30px;
    text-align: center;
    color: orange;
    font-size: 34px;

    @include tablet {
      padding-top: 50px;
      font-size: 36px;
    }

    @include mobile {
      padding-top: 50px;
      font-size: 20px;
    }

    h1 {
      margin: 0;
    }

    .progressBar {
      height: 8px;
      background-color: white;
    }
  }
  
  .container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    @include tablet {
      justify-content: flex-end;
    }

    @include mobile {
      justify-content: flex-end;
    }

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      gap: 50px;

      @include tablet {
        max-height: 70%;
        gap: 30px;
        flex-direction: column;
      }

      @include mobile {
        max-height: 70%;
        gap: 30px;
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        height: 60%;
        margin-top: 50px;

        @include tablet {
          height: 50%;
          transform: none !important;
          margin-top: 20px;
        }

        @include mobile {
          max-height: 40%;
          margin-top: 20px;
          transform: none !important;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include tablet {
          width: 85%;
          transform: none !important;
        }

        @include mobile {
          width: 90%;
          transform: none !important;
        }

        h2 {
          font-size: 50px;
          letter-spacing: 3px;
          margin: 0;

          @include mobile {
            font-size: 25px;
            letter-spacing: 2px;
          }
        }

        p {
          text-align: justify;
          color: rgb(250, 250, 250, 0.7);
          font-size: 17px;

          @include mobile {
            text-align: left;
            line-height: 1.5;
            font-size: 12px;
          }
        }
      }

      button {
        background-color: orange;
        border: none;
        border-radius: 10px;
        padding: 10px;
        width: 200px;
        font-weight: 600;
        cursor: pointer;

        @include mobile {
          width: 150px;
          border-radius: 7px;
          padding: 6px;
        }
      }
    }

    .badge-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
