@import "../../App.scss";

.skill-container {
  height: 100%;
  max-width: 90%;
  margin: auto;
  padding: 5rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  overflow: scroll;

  @include mobile {
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  @include tablet {
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  h2 {
    color: rebeccapurple;
    text-align: left;
    font-size: 3.8rem;
    letter-spacing: 1.5px;

    @include tablet {
      font-size: 4rem;
    }

    @include mobile {
      font-size: 2.5rem;
    }
  }

  .inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;

    @include mobile {
      gap: 2rem;
    }

    @include tablet {
      gap: 3rem;
    }
    .icon-row {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 1.3rem;
      height: 100%;
      flex: 1;
      width: 14rem;

      @include tablet {
        width: 15rem;
      }

      @include mobile {
        width: 7rem;
      }

      h3 {
        font-size: 1.5rem;
        font-weight: normal;

        @include mobile {
          font-size: 0.7rem;
        }
      }

      .icon-container {
        display: flex;
        flex-direction: row;
        padding: 0.3rem 0.5rem;
        align-items: center;
        gap: 0.5rem;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.05);

        svg {
          width: 2rem;
          height: 2rem;

          @include mobile {
            width: 1rem;
            height: 1rem;
          }
        }

        span {
          font-size: 16px;

          @include mobile {
            font-size: 10px;
          }
        }
      }
    }
  }
}
