.desktop-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.desktop-image-container {
  max-width: 60%;
  background-color: black;
  border-radius: 35px;
  padding: 10px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px 1px rgba(250, 250, 250, 1);
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.desktop-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
}

.desktop-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  padding-top: 10px;
  text-align: left;
}

.desktop-title {
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.text-header {
  font-size: 24px;
}

.subtext {
  font-size: 16px;
  opacity: 0.8;
}

.badge-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}