@import "../../App.scss";

:root {
  --clip-path-position: circle(10px at 10px 10px);
  --clip-path-position-opened: circle(1200px at 10px 10px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  color: white;
  display: none;

  @include tablet {
    display: block;
  }

  @include mobile {
    display: block;
  }

  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    clip-path: var(--clip-path-position);

    @include mobile {
      width: 50%;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;

      a {
        font-size: 30px;

        @include mobile {
          font-size: 18px;
        }
      }
    }
  }

  button {
    z-index: 999;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
