@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body, #root {
  font-family: 'Merriweather';
}

.main-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  z-index: 1000;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.heading3 {
  font-size: 70px;
  margin-right: 30px;
  margin-bottom: 100px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.heading4 {
  font-size: 30px;
}

/* section {
  margin: 40px;
} */