@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body, #root {
  font-family: 'Merriweather', serif;
  background: radial-gradient(circle, #0f1b4d, #030c1a);
  height: 100vh;
  padding: 20px;
  color: whitesmoke;
}

.heading1 {
  font-size: 90px;
}

.heading2 {
  font-size: 60px;
}

.heading3 {
  font-size: 40px;
}

.heading4 {
  font-size: 30px;
}

section {
  margin: 40px;
}