@import "../../App.scss";

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1.5px solid white;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-in-out;

  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
  
  .inner-cursor {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: orange;
  }
}
